<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="16778240" android:versionName="0.4.0" android:compileSdkVersion="33"
          android:compileSdkVersionCodename="13" package="com.example.ruroco" platformBuildVersionCode="33"
          platformBuildVersionName="13"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="ruroco" android:hasCode="false" android:debuggable="true">
        <activity android:name="android.app.NativeActivity" android:exported="true" android:launchMode="singleTop"
                  android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
                  android:windowSoftInputMode="adjustResize" android:hardwareAccelerated="true">
            <meta-data android:name="android.app.lib_name" android:value="ruroco"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>